# The config for the local pre-commit steps
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1024, --enforce-all]
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
        args: [--fix, lf]
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.15.0
    hooks:
      - id: pretty-format-kotlin
        args: [--autofix]
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v3.1.0
  #   hooks:
  #     - id: prettier
  #       types_or: [css, scss, javascript, vue, ts, yaml, html, json]
  - repo: https://github.com/oxipng/oxipng
    rev: v9.1.5
    hooks:
      - id: oxipng
        args: ["-o", "4", "--strip", "safe", "--alpha"]
  - repo: local
    hooks:
      - id: yaml-extension-check
        name: yaml extension check
        description: Checks if all yaml files have the extension '.yaml'
        entry: All Yaml files should have the *.yaml extension.
        language: fail
        files: .*\.(yml)
      - id: jpeg-extension-check
        name: jpeg extension check
        description: Checks if all jpeg files have the extension '.jpeg'
        entry: All JPEG files should have the *.jpeg extension.
        language: fail
        files: .*\.(jpg)
