@import "../../node_modules/minireset.css/minireset";

$primary: #981515;

$link: lighten($primary, 20);

@import "darkly-variables";

$bulmaswatch-import-font: false;
$radius: 4px;

$input-background-color: #3c4545;
$input-color: $white-ter;

@import "../../node_modules/bulma/bulma";
@import "darkly-overrides";
@import "custom-overwrites";
